<div>
  <header>
    <nav>
      <div class="tw-page-width">
        <span class="left">
          <span id="logo">taskwipe</span>
          <ul>
            <li>
              <a routerLink="/tasks" routerLinkActive="active">
                <i class="fa fa-tasks icon"></i>
                Tasks
              </a>
            </li>
            <li>
              <a routerLink="/projects" routerLinkActive="active">
                <i class="fas fa-sitemap icon"></i>
                Projects
              </a>
            </li>
            <li>
              <a routerLink="/time" routerLinkActive="active">
                <i class="fa fa-clock icon"></i>
                Time
              </a>
            </li>
          </ul>
        </span>
        <span>
          <ul class="right">
            <li>
              <a routerLink="/settings" routerLinkActive="active">
                <i class="fa fa-cog"></i>
              </a>
            </li>
          </ul>
        </span>
      </div>
    </nav>
  </header>
</div>
